.values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;    
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2px;
  height: 100px;
  width: 50%;

}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 50px;
}

.operators {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
  height: 140px;
  width:50%;
  margin-top: 20px;
}

